@inject IReviewService reviewService
@inject IUserService userService

﻿@{
    ViewData["Title"] = "Dashboard";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3"> This is your administrator area - you can <b>read</b> and <b>aprove</b>  reviews.<br />You can <b>read</b> and <b>delete</b> all bookings too.</p>
    <hr class="my-4">
</div>

<br />
<div class="row">
    <div class="col-6 text-center">
        <h4 class="text-primary">Reviews waiting to be reviewed: <b>@(await reviewService.GetReviewToReviewedAsync())</b></h4><br />
        <a class="btn btn-lg btn-primary" asp-area="Admin" asp-controller="Review" asp-action="All">Reviews</a>
    </div>
    <div class="col-6 text-center">
        <h4 class="text-primary">Reservation waiting to be approved: <b>@(await userService.GetCountOfReservationsForApproveAsync())</b></h4><br />
        <a class="btn btn-lg btn-primary" asp-area="Admin" asp-controller="Reservation" asp-action="AllReservations">Reservations</a>
    </div>
</div>
